<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proyecto-aprender</title>
</head>
<body>
	<h1 class="titulo">Register</h1>
	<form class="formulario">
		<input type="text" required minlength="1" name="username" placeholder="Username">
		<input type="password" required minlength="5" name="password" placeholder="Password">
		<input type="password" required minlength="5" name="confirmPassword" placeholder="Confirm Password">
		<input type="submit">
    	<a href="http://localhost:3000/">back</a>
	</form>
</body>
</html>