<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proyecto-aprender</title>
</head>
<body>
	<h1 class="titulo">Cambiar nombre de usuario</h1>
	<form class="formulario">
		<input type="text" required minlength="1" name="nombreDeUsuario" placeholder="Nombre de usuario">
		<input type="text" required minlength="1" name="nuevoNombreDeUsuario" placeholder="Nuevo nombre de usuario">
		<input type="password" required minlength="7" name="contraseña" placeholder="Contraseña">

		<input type="submit">
    	<a href="http://localhost:3000/">atras</a>
	</form>
</body>
</html>