<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proyecto-aprender</title>
</head>
<body>
	<h1 class="titulo">ChangeUsername</h1>
	<form class="formulario">
		<input type="text" required minlength="1" name="username" placeholder="username">
		<input type="text" required minlength="1" name="newUsername" placeholder="newUsername">
		<input type="password" required minlength="7" name="password" placeholder="password">

		<input type="submit">
    	<a href="http://localhost:3000/">back</a>
	</form>
</body>
</html>