<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>proyecto-aprender</title>
</head>
<body>
	<h1>inicio</h1>
	<div>
		<a href="http://localhost:3000/registrarse">Registrarse</a>
    	<a href="http://localhost:3000/cambiarNombreDeUsuario">cambiar nombre de usuario</a>
		<a href="http://localhost:3000/borrarUsuario">borrar usuario</a>
	</div>
</body>
</html>